<a href="https://colab.research.google.com/github/RemyLpr/defi_ia/blob/main/model/Model_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import des modules et des données

In [1]:
import pandas as pd
from sklearn.pipeline import make_pipeline
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.feature_selection import RFECV
import warnings
warnings.filterwarnings('ignore')

In [159]:
df = pd.read_csv("train_set.csv") # données d'entraînement
df_eval = pd.read_csv("test_set.csv") # données de test du site
df_hotel = pd.read_csv("features_hotels.csv") # données sur les hôtels
df_clust = pd.read_csv("hotel_price_clust.csv") # clusters sur les prix des hôtels à J44
df_stock_j44_clust = pd.read_csv("stock_j44_clust.csv") # clusters sur les stocks des hôtels à J44
df_stagn = pd.read_csv("golden.csv")

# Preview des données

In [ ]:
df

,hotel_id,price,stock,city,date,language,mobile,avatar_id,avatar_name,order_requests
0,768,286,13,madrid,11,portuguese,0,155051,8HOAWS,1
1,126,96,8,madrid,11,portuguese,0,155051,8HOAWS,1
2,378,124,0,madrid,11,portuguese,0,155051,8HOAWS,1
3,351,91,4,madrid,11,portuguese,0,155051,8HOAWS,1
4,747,172,15,madrid,11,portuguese,0,155051,8HOAWS,1
...,...,...,...,...,...,...,...,...,...,...
69273,118,101,3,vilnius,4,german,1,177245,M4JPKK,656
69274,954,135,0,vilnius,4,german,1,177245,M4JPKK,656
69275,589,61,0,vilnius,4,german,1,177245,M4JPKK,656
69276,432,157,4,vilnius,4,german,1,177245,M4JPKK,656
69277,197,113,0,vilnius,4,german,1,177245,M4JPKK,656

In [ ]:
df_eval

,index,order_requests,city,date,language,mobile,avatar_id,hotel_id,stock
0,0,1,vilnius,21,romanian,0,1,161,46
1,1,1,vilnius,21,romanian,0,1,187,32
2,2,1,vilnius,21,romanian,0,1,279,12
3,3,1,vilnius,21,romanian,0,1,395,10
4,4,1,vilnius,21,romanian,0,1,488,42
...,...,...,...,...,...,...,...,...,...
6639,6639,843,rome,5,irish,0,794,987,1
6640,6640,844,vienna,1,irish,1,794,26,1
6641,6641,844,vienna,1,irish,1,794,263,0
6642,6642,844,vienna,1,irish,1,794,456,0
6643,6643,844,vienna,1,irish,1,794,699,0

# Préparation des données

Tout d'abord on homogénéise les colonnes (variables d'entrée des datasets de train et de test). On fait aussi la jointure avec le dataframe contenant les features des hôtels.

In [160]:
df.drop("avatar_name", axis = 1, inplace = True)
df_eval.drop("index", axis = 1, inplace = True)
df_hotel.drop("city", axis = 1, inplace = True) # on doit la supprimer immédiatement pour ne pas créer de doublon
df = pd.merge(df, df_hotel, on = "hotel_id", how = "left") # on merge avec le csv features_hotels
df_eval = pd.merge(df_eval, df_hotel, on = "hotel_id", how = "left")
df = pd.merge(df, df_clust, on = "hotel_id", how = "left") # on merge avec le csv hotel_price_clust
df_eval = pd.merge(df_eval, df_clust, on = "hotel_id", how = "left")
df = pd.merge(df, df_stock_j44_clust, on = "hotel_id", how = "left") # on merge avec le csv stock_j44_clust
df_eval = pd.merge(df_eval, df_stock_j44_clust, on = "hotel_id", how = "left")
mobile_list_1, mobile_list_2 = [], []

Le merge avec la feature stagne, qui varie selon la ville ET le jour, est un peu différent et nécessite un traitement à part. Aussi, un comportement étrange a été remarqué pour la ville Madrid au jour 2, pour certains hôtels la valeur de la variable mobile a une influence sur le prix, contrairement à habituellement. On va donc détecter quels sont ces hôtels et les stocker dans des listes pour modifier leur prix après.

In [164]:
# ATTENTION : cellule à réexécuter après création des mobile_list
stagn_list = []
for index, row in df.iterrows():
  city, hotel, date, mobile = row["city"], row["hotel_id"], row["date"], row["mobile"]
  if (date==2) & (mobile==1) & (hotel in mobile_list_2): # cas particulier repéré où la valeur de mobile a une influence pour la date 2
    stagn_list.append(round(0.92*df_stagn.iloc[hotel][date]))
  else:
    if (date==1) & (mobile==1) & (hotel in mobile_list_1): # pareil pour la date 1
      stagn_list.append(round(0.92*df_stagn.iloc[hotel][date]))
    else:
      stagn_list.append(df_stagn.iloc[hotel][date])
df["stagne"] = stagn_list
mobile_list_1, mobile_list_2 = [], [] # on vide les listes pour éviter des problèmes lors de potentielles réexécutions

In [162]:
stagn_list = []
for index, row in df_eval.iterrows():
  hotel, date = row["hotel_id"], row["date"]
  stagn_list.append(df_stagn.iloc[hotel][date])
df_eval["stagne"] = stagn_list

In [163]:
row_list = []
a = df[df["language"] == "hungarian"]
for index, row in a.iterrows():
  if abs(row["price"] - row["stagne"]) > 1:
    row_list.append(row)
df_errors = pd.DataFrame(data=row_list)
df_errors_1, df_errors_2 = df_errors[df_errors["date"] == 1], df_errors[df_errors["date"] == 2]
mobile_list_1, mobile_list_2 = df_errors_1["hotel_id"].tolist(), df_errors_2["hotel_id"].tolist()

In [200]:
df_greek = df[df["language"] == "spanish"]
df_hung = df[df["language"] == "hungarian"]

In [201]:
coeff_list = []
for index, row in df_greek.iterrows():
  hotel, date = row["hotel_id"], row["date"]
  df_match = df_hung[(df_hung["hotel_id"] == hotel) & (df_hung["date"] == date)]
  for index2, row2 in df_match.iterrows():
    coeff_list.append(row["price"]/row2["price"])

In [202]:
coeff_list

[1.0833333333333333,
 1.0761904761904761,
 1.0792079207920793,
 1.0872093023255813,
 1.0843373493975903,
 1.0909090909090908,
 1.0909090909090908,
 1.0830449826989619,
 1.083969465648855,
 1.0808080808080809,
 1.083916083916084,
 1.0818181818181818,
 1.0833333333333333,
 1.0851063829787233,
 1.0816326530612246,
 1.0807453416149069,
 1.086021505376344,
 1.0836653386454183,
 1.083743842364532,
 1.0776699029126213,
 1.0759493670886076,
 1.0761904761904761,
 1.0776699029126213,
 1.0838323353293413,
 1.0836363636363637,
 1.0827586206896551,
 1.084033613445378,
 1.0787878787878789,
 1.0833333333333333,
 1.0869565217391304,
 1.089430894308943,
 1.0862068965517242,
 1.0909090909090908,
 1.0851063829787233,
 1.0909090909090908,
 1.0827586206896551,
 1.083743842364532,
 1.0921052631578947,
 1.0817610062893082,
 1.0845070422535212,
 1.0941176470588236,
 1.0887573964497042,
 1.0869565217391304,
 1.0830324909747293,
 1.0816326530612246,
 1.0851063829787233,
 1.0909090909090908,
 1.0855855855855856,
 1.0797546012269938,
 1.0740740740740742,
 1.0836363636363637,
 1.0845070422535212,
 1.0816326530612246,
 1.0875,
 1.0828877005347595,
 1.0817307692307692,
 1.074766355140187,
 1.0909090909090908,
 1.0841584158415842,
 1.0833333333333333,
 1.0833333333333333,
 1.0845588235294117,
 1.0847457627118644,
 1.0921052631578947,
 1.0909090909090908,
 1.0714285714285714,
 1.0759493670886076,
 1.0841121495327102,
 1.0776699029126213,
 1.0842911877394636,
 1.0863309352517985,
 1.0836363636363637,
 1.0761904761904761,
 1.0823529411764705,
 1.0833333333333333,
 1.0849673202614378,
 1.0824742268041236,
 1.087719298245614,
 1.087719298245614,
 1.0843373493975903,
 1.0843373493975903,
 1.0875,
 1.0769230769230769,
 1.0796019900497513,
 1.0851063829787233,
 1.082191780821918,
 1.0909090909090908,
 1.083743842364532,
 1.0921052631578947,
 1.0826446280991735,
 1.0769230769230769,
 1.0759493670886076,
 1.0841584158415842,
 1.0769230769230769,
 1.0833333333333333,
 1.095890410958904,
 1.0817120622568093,
 1.0833333333333333,
 1.0833333333333333,
 1.0769230769230769,
 1.0740740740740742,
 1.089430894308943,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0076923076923077,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0076335877862594,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0053763440860215,
 1.0,
 1.0123456790123457,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0076923076923077,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.005181347150259,
 1.0,
 1.0076923076923077,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0078740157480315,
 1.0,
 1.0,
 1.0076335877862594,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.007462686567164,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0072992700729928,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0078740157480315,
 1.0,
 1.0075187969924813,
 1.0,
 1.0078125,
 1.0121951219512195,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0405405405405406,
 1.0405405405405406,
 1.0387931034482758,
 1.0387931034482758,
 1.0373831775700935,
 1.0373831775700935,
 1.0396825396825398,
 1.0396825396825398,
 1.04093567251462,
 1.04093567251462,
 1.04093567251462,
 1.04093567251462,
 1.0381679389312977,
 1.0381679389312977,
 1.0406504065040652,
 1.0406504065040652,
 1.0420168067226891,
 1.0420168067226891,
 1.0397727272727273,
 1.0397727272727273,
 1.0416666666666667,
 1.0416666666666667,
 1.0416666666666667,
 1.0416666666666667,
 1.0419580419580419,
 1.0419580419580419,
 1.0413793103448277,
 1.0413793103448277,
 1.0407523510971788,
 1.0407523510971788,
 1.0506329113924051,
 1.0506329113924051,
 1.0416666666666667,
 1.0416666666666667,
 1.0416666666666667,
 1.0416666666666667,
 1.0419161676646707,
 1.0419161676646707,
 1.0380952380952382,
 1.0380952380952382,
 1.0411522633744856,
 1.0411522633744856,
 1.0365853658536586,
 1.0365853658536586,
 1.0416666666666667,
 1.0416666666666667,
 1.0388349514563107,
 1.0388349514563107,
 1.0388349514563107,
 1.0388349514563107,
 1.038888888888889,
 1.038888888888889,
 1.04,
 1.04,
 1.0422535211267605,
 1.0422535211267605,
 1.0411764705882354,
 1.0411764705882354,
 1.0416666666666667,
 1.0416666666666667,
 1.0421455938697317,
 1.0421455938697317,
 1.0406504065040652,
 1.0406504065040652,
 1.0449438202247192,
 1.0449438202247192,
 1.04093567251462,
 1.04093567251462,
 1.0416666666666667,
 1.0416666666666667,
 1.0411764705882354,
 1.0411764705882354,
 1.0394736842105263,
 1.0394736842105263,
 1.0377358490566038,
 1.0377358490566038,
 1.0410958904109588,
 1.0410958904109588,
 1.0405797101449274,
 1.0405797101449274,
 1.038647342995169,
 1.038647342995169,
 1.0403726708074534,
 1.0403726708074534,
 1.0408163265306123,
 1.0408163265306123,
 1.0408163265306123,
 1.0408163265306123,
 1.0404624277456647,
 1.0404624277456647,
 1.0404624277456647,
 1.0404624277456647,
 1.0470588235294118,
 1.0470588235294118,
 1.0373831775700935,
 1.0373831775700935,
 1.0377358490566038,
 1.0377358490566038,
 1.0390625,
 1.0390625,
 1.0416666666666667,
 1.0416666666666667,
 1.0411764705882354,
 1.0411764705882354,
 1.0403022670025188,
 1.0403022670025188,
 1.0394088669950738,
 1.0394088669950738,
 1.04,
 1.04,
 1.04093567251462,
 1.04093567251462,
 1.041237113402062,
 1.041237113402062,
 1.0394736842105263,
 1.0394736842105263,
 1.040625,
 1.040625,
 1.0388349514563107,
 1.0388349514563107,
 1.0406504065040652,
 1.0406504065040652,
 1.04,
 1.04,
 1.04,
 1.04,
 1.0384615384615385,
 1.0384615384615385,
 1.0389610389610389,
 1.0389610389610389,
 1.0404040404040404,
 1.0404040404040404,
 1.04,
 1.04,
 1.041522491349481,
 1.041522491349481,
 1.041237113402062,
 1.041237113402062,
 1.0396039603960396,
 1.0396039603960396,
 1.0410958904109588,
 1.0410958904109588,
 1.039426523297491,
 1.039426523297491,
 1.0404624277456647,
 1.0404624277456647,
 1.0449438202247192,
 1.0449438202247192,
 1.051948051948052,
 1.051948051948052,
 1.0408163265306123,
 1.0408163265306123,
 1.0393258426966292,
 1.0393258426966292,
 1.0390243902439025,
 1.0390243902439025,
 1.037313432835821,
 1.037313432835821,
 1.0377358490566038,
 1.0377358490566038,
 1.0405405405405406,
 1.0405405405405406,
 1.0388349514563107,
 1.0388349514563107,
 1.0377358490566038,
 1.0377358490566038,
 1.041522491349481,
 1.041522491349481,
 1.036697247706422,
 1.036697247706422,
 1.0406504065040652,
 1.0406504065040652,
 1.039426523297491,
 1.039426523297491,
 1.0418848167539267,
 1.0418848167539267,
 1.0405405405405406,
 1.0405405405405406,
 1.0408163265306123,
 1.0408163265306123,
 1.0414201183431953,
 1.0414201183431953,
 1.0377358490566038,
 1.0377358490566038,
 1.041237113402062,
 1.041237113402062,
 1.043010752688172,
 1.043010752688172,
 1.0526315789473684,
 1.0526315789473684,
 1.0408163265306123,
 1.0408163265306123,
 1.0411764705882354,
 1.0411764705882354,
 1.0526315789473684,
 1.0526315789473684,
 1.0396825396825398,
 1.0396825396825398,
 1.0403587443946187,
 1.0403587443946187,
 1.0390879478827362,
 1.0390879478827362,
 1.0413223140495869,
 1.0413223140495869,
 1.0390243902439025,
 1.0390243902439025,
 1.0526315789473684,
 1.0526315789473684,
 1.0387931034482758,
 1.0387931034482758,
 1.0395136778115501,
 1.0395136778115501,
 1.0363636363636364,
 1.0363636363636364,
 1.037037037037037,
 1.037037037037037,
 1.040590405904059,
 1.040590405904059,
 1.0404624277456647,
 1.0404624277456647,
 1.0411764705882354,
 1.0411764705882354,
 1.0404624277456647,
 1.0404624277456647,
 1.0357142857142858,
 1.0357142857142858,
 1.0390625,
 1.0390625,
 1.0410094637223974,
 1.0410094637223974,
 1.0396825396825398,
 1.0396825396825398,
 1.036697247706422,
 1.036697247706422,
 1.0526315789473684,
 1.0526315789473684,
 1.042857142857143,
 1.042857142857143,
 1.038647342995169,
 1.038647342995169,
 1.0381679389312977,
 1.0381679389312977,
 1.0404040404040404,
 1.0404040404040404,
 1.0403225806451613,
 1.0403225806451613,
 1.0449438202247192,
 1.0449438202247192,
 1.0431654676258992,
 1.0431654676258992,
 1.04,
 1.04,
 1.038647342995169,
 1.038647342995169,
 1.0402010050251256,
 1.0402010050251256,
 1.0423728813559323,
 1.0423728813559323,
 1.048780487804878,
 1.048780487804878,
 1.0403022670025188,
 1.0403022670025188,
 1.04,
 1.04,
 1.0411764705882354,
 1.0411764705882354,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0076923076923077,
 1.0,
 1.0,
 1.0074074074074073,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0072992700729928,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0121951219512195,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.007462686567164,
 1.0,
 1.0123456790123457,
 1.0,
 1.0,
 1.0,
 1.0078740157480315,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0053763440860215,
 1.0,
 1.0078125,
 1.0,
 1.0,
 1.0053475935828877,
 1.0,
 1.0,
 1.0076923076923077,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0076335877862594,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0078740157480315,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0075187969924813,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.005181347150259,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0076923076923077,
 1.0,
 1.1136363636363635,
 1.1147540983606556,
 1.1058823529411765,
 1.103448275862069,
 1.1041666666666667,
 1.1058823529411765,
 1.0925925925925926,
 1.0925925925925926,
 1.1071428571428572,
 1.1020408163265305,
 1.0975609756097562,
 1.106060606060606,
 1.1125,
 1.1097560975609757,
 1.0952380952380953,
 1.105263157894737,
 1.1,
 1.1020408163265305,
 1.119047619047619,
 1.1,
 1.1043956043956045,
 1.1136363636363635,
 1.1129032258064515,
 1.103896103896104,
 1.0964912280701755,
 1.1111111111111112,
 1.103448275862069,
 1.1147540983606556,
 1.1058201058201058,
 1.1046511627906976,
 1.109375,
 1.1,
 1.1129032258064515,
 1.1162790697674418,
 1.1063829787234043,
 1.108695652173913,
 1.1016949152542372,
 1.1129032258064515,
 1.1038251366120218,
 1.1136363636363635,
 1.1065573770491803,
 1.108695652173913,
 1.108433734939759,
 1.10752688172043,
 1.108695652173913,
 1.1047120418848169,
 1.1067415730337078,
 1.1030927835051547,
 1.1074380165289257,
 1.1111111111111112,
 1.1081081081081081,
 1.1030927835051547,
 1.108695652173913,
 1.1030927835051547,
 1.0943396226415094,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.007462686567164,
 1.0,
 1.0,
 1.0121951219512195,
 1.0,
 1.0053475935828877,
 1.0,
 1.0,
 1.005181347150259,
 1.0,
 1.0,
 1.0078125,
 1.0,
 1.0076923076923077,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0123456790123457,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0078740157480315,
 1.0,
 1.0,
 1.0076923076923077,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0078740157480315,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0076335877862594,
 1.0,
 1.0,
 1.0,
 1.0072992700729928,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0053763440860215,
 1.0,
 1.0,
 1.0075187969924813,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0076923076923077,
 1.0,
 1.0,
 1.0074074074074073,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.002857142857143,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0121951219512195,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0053763440860215,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0054054054054054,
 1.0,
 1.005464480874317,
 1.0028735632183907,
 1.0,
 1.0,
 1.0,
 1.0078740157480315,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.00354609929078,
 1.0,
 1.0,
 1.0042372881355932,
 1.0,
 1.0,
 1.0035087719298246,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0029411764705882,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.002906976744186,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.002857142857143,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0040650406504066,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0041666666666667,
 1.0029239766081872,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.080188679245283,
 1.0714285714285714,
 1.0818181818181818,
 1.0849056603773586,
 1.0783132530120483,
 1.0714285714285714,
 1.0847457627118644,
 1.087719298245614,
 1.0825688073394495,
 1.0864197530864197,
 1.0862068965517242,
 1.0793650793650793,
 1.0802139037433156,
 1.0802919708029197,
 1.0701754385964912,
 1.0853658536585367,
 1.0827586206896551,
 1.083969465648855,
 1.078740157480315,
 1.0727272727272728,
 1.083916083916084,
 1.08130081300813,
 1.076086956521739,
 1.08130081300813,
 1.0892857142857142,
 1.0892857142857142,
 1.0833333333333333,
 1.0714285714285714,
 1.0825688073394495,
 1.0909090909090908,
 1.0746268656716418,
 1.0897435897435896,
 1.0812182741116751,
 1.0841121495327102,
 1.0847457627118644,
 1.0851063829787233,
 1.0714285714285714,
 1.0945945945945945,
 1.0825688073394495,
 1.0825688073394495,
 1.0875,
 1.0819672131147542,
 1.0793650793650793,
 1.0810810810810811,
 1.0808823529411764,
 1.08,
 1.08,
 1.0847457627118644,
 1.0825688073394495,
 1.0769230769230769,
 1.0714285714285714,
 1.0921052631578947,
 1.0833333333333333,
 1.0853658536585367,
 1.0833333333333333,
 1.0775193798449612,
 1.0846153846153845,
 1.0810810810810811,
 1.0909090909090908,
 1.0775193798449612,
 1.0794701986754967,
 1.0714285714285714,
 1.0701754385964912,
 1.0775193798449612,
 1.0804597701149425,
 1.0787878787878789,
 1.0810810810810811,
 1.08,
 1.0875,
 1.0775193798449612,
 1.0797872340425532,
 1.0862068965517242,
 1.0740740740740742,
 1.0851063829787233,
 1.0810810810810811,
 1.0842105263157895,
 1.083969465648855,
 1.0754716981132075,
 1.0727272727272728,
 1.0769230769230769,
 1.0810810810810811,
 1.0845070422535212,
 1.080536912751678,
 1.0853658536585367,
 1.0847457627118644,
 1.0833333333333333,
 1.0824742268041236,
 1.1147540983606556,
 1.1147540983606556,
 1.101123595505618,
 1.101123595505618,
 1.0925925925925926,
 1.0925925925925926,
 1.1,
 1.1,
 1.1071428571428572,
 1.1071428571428572,
 1.0978260869565217,
 1.0978260869565217,
 1.1136363636363635,
 1.1136363636363635,
 1.1050228310502284,
 1.1050228310502284,
 1.1057692307692308,
 1.1057692307692308,
 1.1048034934497817,
 1.1048034934497817,
 1.0943396226415094,
 1.0943396226415094,
 1.1,
 1.1,
 1.1,
 1.1,
 ...]

In [199]:
coeff_list = np.array(coeff_list)
coeff_list.mean()

1.0604473509925607

In [185]:
df_hung.sort_values(by="date")

,hotel_id,price,stock,city,date,language,mobile,avatar_id,order_requests,group,brand,parking,pool,children_policy,cluster_hotel,stock_j44_clust,stagne
50443,890,76,0,vienna,4,hungarian,1,156969,476,Yin Yang,8 Premium,1,0,0,1,1,76.0
100703,890,76,0,vienna,9,hungarian,0,203567,945,Yin Yang,8 Premium,1,0,0,1,1,76.0
79108,890,76,0,vienna,10,hungarian,0,177475,750,Yin Yang,8 Premium,1,0,0,1,1,76.0
106740,890,70,45,vienna,41,hungarian,1,203622,1000,Yin Yang,8 Premium,1,0,0,1,1,70.0
132163,890,70,45,vienna,41,hungarian,1,203858,1236,Yin Yang,8 Premium,1,0,0,1,1,70.0

Pour l'instant on va supprimer les colonnes avatar_id, hotel_id et order_requests pour se faciliter la tâche. De nouvelles variables pourraient être générées à partir de celles-ci mais pour l'instant notre but est juste de faire tourner un premier modèle.

In [138]:
df.drop(["avatar_id", "hotel_id", "order_requests"], axis = 1, inplace = True)
df_eval.drop(["avatar_id", "hotel_id", "order_requests"], axis = 1, inplace= True)

Ensuite on trie les colonnes par ordre alphabétique pour une visualisation/comparaison plus claire de celles-ci.

In [139]:
df = df.reindex(sorted(df.columns), axis=1)
df_eval = df_eval.reindex(sorted(df_eval.columns), axis=1)

On doit encoder les variables catégorielles "city" et "language". Pour effectuer cette tâche nous allons utliser la méthode get_dummies de pandas car les modalités de ces variables n'ont pas de lien entre elles.

In [140]:
# génération des dummies pour les variables city, language, brand et group
cities = pd.get_dummies(df["city"], prefix_sep = "_", prefix = "city")
languages =  pd.get_dummies(df["language"], prefix_sep = "_", prefix = "language")
brands = pd.get_dummies(df["brand"], prefix_sep = "_", prefix = "brand")
groups = pd.get_dummies(df["group"], prefix_sep = "_", prefix = "group")
df = pd.concat([df, cities, languages, brands, groups], axis = 1) # on ajoute les colonnes générées au df
df.drop(["city", "language", "brand", "group"], axis = 1, inplace = True) # on supprime les colonnes d'origine

On effectue le même processus pour le dataset d'évaluation.

In [141]:
cities = pd.get_dummies(df_eval["city"], prefix_sep = "_", prefix = "city")
languages =  pd.get_dummies(df_eval["language"], prefix_sep = "_", prefix = "language")
brands = pd.get_dummies(df_eval["brand"], prefix_sep = "_", prefix = "brand")
groups = pd.get_dummies(df_eval["group"], prefix_sep = "_", prefix = "group")
df_eval = pd.concat([df_eval, cities, languages, brands, groups], axis = 1)
df_eval.drop(["city", "language", "brand", "group"], axis = 1, inplace = True)

## Train test split

Maintenant on sépare la variable de sortie (price) des variables d'entrée.

In [142]:
X = df.drop("price", axis = 1)
y = df["price"]

Enfin, on split nos données en entraînement/test (répartition 80/20).

In [143]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Scaling des données

Partie non obligatoire : scaler les données pour permettre une meilleure prédiction du modèle. N'est pas nécessaire pour tous les modèles.

In [ ]:
scaler = StandardScaler()
X[['cluster_hotel','date', 'stock', 'stock_j44_clust']] = scaler.fit_transform(df[['cluster_hotel','date', 'stock', 'stock_j44_clust']]) 
df_eval[['cluster_hotel','date', 'stock', 'stock_j44_clust']] = scaler.fit_transform(df_eval[['cluster_hotel','date', 'stock', 'stock_j44_clust']])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Entraînement et test d'un modèle

Ici je vaiis utiliser un modèle de type MLPRegressor [https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPRegressor.html#sklearn.neural_network.MLPRegressor](https://).
Nous allons déclarer le modèle puis l'entraîner et le tester.

In [155]:
# import du régresseur
from sklearn.neural_network import MLPRegressor
# définition du régresseur utilisé et entraînement de celui-ci
reg = MLPRegressor(hidden_layer_sizes = (256, 256, 256), verbose = True, early_stopping = True, tol = 0.05, n_iter_no_change=1, validation_fraction=0.1).fit(X_train, y_train)

Iteration 1, loss = 104.94022182
Validation score: 0.998447

In [156]:
y_pred = reg.predict(X_test)
rmse = mean_squared_error(y_true = y_test, y_pred = y_pred, squared = False)
print('rmse : ', rmse)

rmse :  3.1829956792531617

# Export des résultats et évaluation sur Kaggle

On doit ensuite utiliser le dataset de test fourni par sur le Kaggle en renvoyer le fichier au format demandé.

In [157]:
eval = reg.predict(df_eval)
submission = pd.DataFrame(data = eval.tolist(), columns = ["price"])
submission.to_csv("MLP_first_iteration.csv", index_label='index') # tout ça pour créer la colonne Unnamed et la transformer en index (nécessaire pour l'évaluation par le site)